<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Noah's Arc</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/main.css">
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/#/">Guild's Fight Logs</a></li>
                <li><a href="/#/noah-guild-great-buildings">Guild's GB's Log</a></li>
                <li><a href="/#/noah-guild-members-list">Guild's Member's Log</a></li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="main-content">
                <nav class="navbar navbar-dark bg-dark">
                    <a href="#" class="btn" id="menu-toggle"><i class="fa fa-align-justify"></i></a>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="content" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="public/bundle.js" type="text/javascript"></script>
    <script src="public/js/noah.js"></script>
    <script>
        // getMemberData().then((data)=>{
        //     document.getElementById('member-data').innerHTML= data;
        // });  
    </script>
</body>

</html>